# Web Server
fastapi
uvicorn
python-dotenv
python-multipart

# AI Core (Transcription & Polishing)
faster-whisper
openai
deep-translator

# Audio/Video Processing
moviepy
pydub
librosa
numpy
ffmpeg-python
requests

# DL/Backend Models (Used by Whisper & LipSync)
torch
torchaudio
transformers
accelerate
opencv-python
tqdm
